body {
    background-color: #f7f7f7;
}
.web-name{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 40px; 
    font-style: italic;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #5d4037;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    border-radius: 5px;
    padding: 10px;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    display: none;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.text-center {
    text-align: center;
}

.form-control:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
